@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.inputContainer {
  width: 250px;
  margin: 100px auto;

  input {
    display: block;
    width: 100%;
    padding-right: 40px;
    padding-left: 10px;
    margin: 10px 0;
    line-height: 30px;
    border: 1px solid colors.$GRAYA;
  }

  .emailBox {
    position: relative;

    .checkIcon {
      position: absolute;
      top: calc(50% - 10px);
      right: 10px;
    }
  }

  .invalidText {
    margin-bottom: 20px;
    font-size: 12px;
    color: #d50000;
    visibility: hidden;
  }

  .passwordBox {
    position: relative;

    .safety,
    .unSafety {
      position: absolute;
      top: calc(50% - 10px);
      right: 10px;
      cursor: pointer;
      transition: all 0.1s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .safety {
      display: none;
    }
  }
}
